{% extends "base.html" %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block login %}

  {% if session_usuario %}
    <p> Hola {{ session_usuario }}</p>
    <a class="button1" href="{{ url_for('logout') }}">Logout</a>
  {% else %}
    <a class="button1" href="{{ url_for('login') }}">Login</a>
    <a class="button1" href="{{ url_for('registro') }}">Registrarse</a>
  {% endif %}

{% endblock %}

{% block content %}

     <h2>Detalles de película</h2>
     <p>{{ alert }}</p>
     <div id="pelicula1">
        
        <div id="pel1">
           <p><b>Nombre:</b> {{ movie.titulo }}</p>
           <p><b>Estreno:</b> {{ movie.estreno }}</p>
           <!-- <p><b>Actores principales:</b> {{ movie.actores }}</p>
           <p><b>Director:</b> {{ movie.director }}</p>
           <p><b>Sinopsis:</b> {{ movie.sinopsis }}</p><br> -->

           <form action="" method="post" name="fhidden" id="f1">
                <p><b>Añadir unidades al carrito</b></p>
                <input type="number" name="quantity" value="1" min="1"> <br>
                <input type="image" src="{{ url_for('static', filename='carrito.svg' ) }}" class= "m1">
           </form>
         </div>
      </div>

{% endblock %}


</html>
