{% extends "base.html" %}

{% block title %}

  <title>{{ title }}</title>

{% endblock%}


{% block content %}

  <p><strong>{{ alerta }}</strong></p>

  <div class="login">
    <h2>Login de usuario</h2>
    <form name="flogin" action="{{url_for('login')}}" id="form1" method="POST" >
      {% if usuario %}
        Nombre de usuario:<br><input type="text" name="lusuario" onblur="lvalidateForm()" required value={{usuario}}><br>
      {% else %}
        Nombre de usuario:<br><input type="text" name="lusuario" onblur="lvalidateForm()" required ><br>
      {% endif %}
        Contraseña:<br><input type="password" name="lpwd" onblur="lvalidatePassword()" required><br>
        <br><br>
        <input type="submit" value="Entrar">
    </form>
  </div>

{% endblock %}


{% block script %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/login.js')}}"></script>

{% endblock %}
